:root {
	--primary-color    : #2A8BF4;
	--primary-color-alt: #035DBF;
	--title-color      : #121F26;
	--text-color       : #676F73;
	--body-bg-color    : #FAFDFF;
	--white-color      : #FFFFFF;
	--color            : var(--primary-color);
	--color-alt        : var(--primary-color-alt);
	--header-bg-color: var(--white-color);
}