@import "../mixins";

:root {
  --max-width : 1200px;
	--header-height     : 3rem;
  --section-spacing   : 4rem;
  --block-spacing     : 2rem;
  --body-line-height  : 1.6;
  --title-line-height : 1.3;

  // Mobile
	--h1-font-size      : 2rem;
  --h2-font-size      : 1.5rem;
  --h3-font-size      : 1.25rem;
  --h4-font-size      : 1rem;
  --big-font-size     : 1rem;
  --base-font-size  : 0.875rem;
  --small-font-size   : 0.75rem;
  --smaller-font-size : 0.6875rem;
}

@include media-query(large) {
  :root {
    // Desktop
    --header-height         : 4rem;
    --section-spacing       : 8rem;
    --block-spacing         : 4rem;
    --h1-font-size          : 3rem;
    --h2-font-size          : 2rem;
    --h3-font-size          : 1.5rem;
    --h4-font-size          : 1.25rem;
    --big-font-size         : 1.25rem;
    --base-font-size      : 1rem;
    --small-font-size       : 0.875rem;
    --smaller-font-size     : 0.75rem;
  }
}