.dark--theme {
	--primary-color    : #2164ac;
	--primary-color-alt: #05478f;
	--title-color      : #FFF;
	--text-color       : #a7a7a7;
	--body-bg-color    : #052c48;
	--white-color      : #FFF;
	--color            : var(--primary-color);
	--color-alt        : var(--primary-color-alt);
	--header-bg-color: #052c48;
}
